@charset "ISO-8859-1";
h1{
	color:yellow;
	text-align:center;
	border:2px solid white;
	padding:5px;
	border-radius:10px;
	background-color:green;
}
fieldset{
	background-color:light rgb(255, 128, 255);
	border-color:green;
	width:50%;
	margin:auto;
	border-radius:10px;
}
body{
	color:black;
}
h2{
	color:yellow;
	text-align:center;
	border:2px solid white;
	padding:5px;
	border-radius:10px;
	background-color:green;
}